html,body {
    overflow: hidden;
}
.cards-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;


}


.card {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -200px;
    width: 300px;
    height: 400px;
    font-size: 68px;
    color: #fff;
}


.card-1 {
    background-color: red;
    z-index: 6;
}

.card-2 {
    background-color: blue;
    z-index: 5;
}

.card-3 {
    background-color: green;
    z-index: 4;
}

.card-4 {
    background-color: orange;
    z-index: 3;
}

.card-5 {
    background-color: pink;
    z-index: 2;
}